body {
	/*padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navigasi{

}

.tengah{
	text-align: center;
}
.kanan{
	text-align: right;
}
.readonly{
	background-color: rgb(240,240,240);
}

.kepala{
	background-color: #2b5797;
	padding: 5px 50px 1px 50px;
	color: #FFFFFF;
}
.row{
	padding-bottom: 10px;
}

.badan{
	padding-top: 10px;
}

.lebihkecil{
	font-size: small
}